<header class="header">
  <div class="header-top">
    <span class="header-logo">Jane DOE</span>
    <nav class="header-nav">
      <a [routerLink]="['/']" routerLinkActive="router-link-active">Accueil</a>
      <a [routerLink]="['articles']" routerLinkActive="router-link-active">Articles</a>
      <a routerLink="['**']">L'École</a>
      <a routerLink="contact" routerLinkActive="router-link-active">Contact</a>
      <button class="header-button" (click)="navigateToSignUpPage()">M'inscrire</button>
    </nav>
  </div>
  <div class="header-title">
    <h1>WILD BLOG</h1>
  </div>
</header>